body {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-areas: "game info";
    grid-gap: 5vw;
    grid-template-columns: 65% 1fr;
}

#screen {
    position: relative;
    margin-left: 25px;
    grid-area: game;
    width: 64vw;
    height: 36vw;
    border: 4px black solid;
    overflow: hidden;
}

#game {
    width: 100%;
    height: 100%;
}

#game_background {
    width: 100%;
    height: 100%;
    background-image: url(../images/land.svg);
    background-size: 100%;
}

#game_ui {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around
}

#score_board {
    width: 20vw;
    border: 2px solid #333;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
    color: red;
}

#health_board {
    width: 20vw;
    border: 2px solid #333;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
    color: red;
}

#time_board {
    width: 20vw;
    border: 2px solid #333;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
    color: red;
}

#title_screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: bisque;
}

#instructions {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

#game_over {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: coral;
}

#level_complete {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
}

.hidden {
    visibility: hidden;
}

aside {
    grid-area: info;
}

footer {
    height: 100px;
    width: 100vw;
    background-color: darkgray;
    position: absolute;
    bottom: 0;
}

ul {
    width: 75vw;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

li {
    margin-right: 25px;
}

.a_container1 {}

.a_container2 {}

.a_container3 {}

.position1 {
    position: absolute;
    top: 1vw;
    left: 1vw;
}

.position2 {
    position: absolute;
    top: 10vw;
    left: 1vw;
}

.position3 {
    position: absolute;
    top: 19vw;
    left: 1vw;
}

#a_sprite1 {
    width: 8vw;
    height: 7.74vw;
    background-image: url("../images/amoeba.svg");
    background-size: 100%;
}

#a_sprite2 {
    width: 8vw;
    height: 7.74vw;
    background-image: url("../images/amoeba.svg");
    background-size: 100%;
}

#a_sprite3 {
    width: 8vw;
    height: 7.74vw;
    background-image: url("../images/amoeba.svg");
    background-size: 100%;
}

.moveLeft {
    transform: translateX(50vw);
    transition-delay: 0.5s;
    transition-duration: 6s;
    transition-property: transform;
}

.rotate:hover {
    transform: rotate(720deg);
    transition: transform 7s linear;
}

.scaleDown:hover {
    transform: scale(0, 0) rotate(3600deg);
    transition: transform 7s linear;
}

.skew:hover {
    transform: skewX(50deg);
    transform-origin: bottom left;
    transition: transform 3s ease-in;
}

#globalNav {
    font-family: 'Poppins', sans-serif;
}

#someNav {
    font-family: 'Ubuntu', sans-serif;
}

#someNav ul {
    flex-flow: column;
}

nav a {
    text-decoration: none;
}


@media only screen and (max-width: 700px) {
    main {
        grid-template-areas: "game"
            "info";
    }

    #screen {
        width: 90vw;
        height: 54vw;
    }

    aside {
        margin-left: 25px;
    }
}