body {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-areas: "game info";
    grid-gap: 5vw;
    grid-template-columns: 65% 1fr;
}

aside {padding-right: 15px}

body {
   text-decoration: none;
   color: black;
   font-family: quicksand, sans-serif;
   font-style: normal;
   font-weight: 500
}

header a {
   text-decoration: none;
   color: black;
   font-family: quicksand, sans-serif;
   font-style: normal;
   font-weight: 500;
    padding-right: 10px
}

header ul {
    width: 75vw;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-areas: "game info";
    grid-gap: 5vw;
    grid-template-columns: 65% 1fr;
}

#screen {
    position: relative;
    margin-left: 25px;
    grid-area: game;
    width: 64vw;
    height: 36vw;
    border: 4px black solid;
    overflow: hidden

}

#game {
    width: 100%;
    height: 100%;
}

#game_background {
    width: 100%;
    height: 100%;
    background-image: url(assets/background.svg);
    background-size: 100%;
}

#mia-neutral {
    width: 17vw;
    height: 26.50vw;
    background-image: url("assets/mia-neutral.svg");
    background-size: 100%;
}

#mia-scared {
    width: 17vw;
    height: 26.50vw;
    background-image: url("assets/mia-scared.svg");
    background-size: 100%;
}

.position1 {
    position: absolute;
    top: 6vw;
    left: 4vw;
}


#button-pause {
    width: 2.5vw;
    height: 2.5vw;
    background-image: url("assets/button-pause.svg");
    background-size: 100%;
}

#button-play {
    width: 2.5vw;
    height: 2.5vw;
    background-image: url("assets/button-play.svg");
    background-size: 100%;
}

.position2 {
    position: absolute;
    top: 1vw;
    left: 1vw;
}


#button-sound-on {
    width: 2.5vw;
    height: 2.5vw;
    background-image: url("assets/button-sound.svg");
    background-size: 100%;
}

#button-sound-off {
    width: 2.5vw;
    height: 2.5vw;
    background-image: url("assets/button-nosound.svg");
    background-size: 100%;
}

.position3 {
    position: absolute;
    top: 1vw;
    left: 4.5vw;
}


#cat {
    width: 8vw;
    height: 6vw;
    background-image: url("assets/cat.svg");
    background-size: 100%;

}

.position4 {
    position: absolute;
    top: 17vw;
    left: 70vw;
}


#cheese1 {
    width: 5.69vw;
    height: 4vw;
    background-image: url("assets/cheese.svg");
    background-size: 100%;

}

.position5 {
    position: absolute;
    top: -5vw;
    left: 50vw;
}


#cheese2 {
    width: 5.69vw;
    height: 4vw;
    background-image: url("assets/cheese.svg");
    background-size: 100%;

}

.position6 {
    position: absolute;
    top: -14vw;
    left: 56vw;
}


#mousetrap1 {
    width: 3.3vw;
    height: 5vw;
    background-image: url("assets/mousetrap.svg");
    background-size: 100%;

}

.position7 {
    position: absolute;
    top: -10vw;
    left: 47vw;
}


#heart1 {
    width: 2.5vw;
    height: 2.2vw;
    background-image: url("assets/life.svg");
    background-size: 100%;
}

.position8 {
    position: absolute;
    top: 1vw;
    left: 30vw;
}


#heart2 {
    width: 2.5vw;
    height: 2.2vw;
    background-image: url("assets/life.svg");
    background-size: 100%;
}

.position9 {
    position: absolute;
    top: 1vw;
    left: 33.5vw;
}


#heart3 {
    width: 2.5vw;
    height: 2.2vw;
    background-image: url("assets/life.svg");
    background-size: 100%;
}

.position10 {
    position: absolute;
    top: 1vw;
    left: 37vw;
}


#score-cheese {
    width: 3.2vw;
    height: 2.2vw;
    background-image: url("assets/cheese.svg");
    background-size: 100%;
}

.position11 {
    position: absolute;
    top: 1vw;
    left: 20vw;
}


#score {
    font-size: 1.3vw
}

.position12 {
    position: absolute;
    top: 1.4vw;
    left: 23.6vw;
}


#time {
    font-size: 1.3vw
}

.position13 {
    position: absolute;
    top: 1.4vw;
    left: 12vw;
}



#instructions {
    position: absolute;
    top: 5vw;
    left: 22vw;
    width: 20vw;
    height: 27.6vw;
    background-image: url(assets/instructions.svg);
    background-size: 100%;
}

#level_complete {
    position: absolute;
    top: 3.4vw;
    left: 22vw;
    width: 20vw;
    height: 30vw;
    background-image: url(assets/win.svg);
    background-size: 100%;
}

#game_over {
    position: absolute;
    top: 3.4vw;
    left: 22vw;
    width: 20vw;
    height: 30vw;
    background-image: url(assets/lose.svg);
    background-size: 100%;
}

#title_screen {
    position: absolute;
    top: 0vw;
    width: 100%;
    height: 100%;
    background-image: url(assets/title-screen.svg);
    background-size: 100%;
}

#title_screen_button_play {
    position: absolute;
    top: 22vw;
    left: 29vw;
    width: 6vw;
    height: 6vw;
    background-image: url(assets/button-play.svg);
    background-size: 100%;
}

#title_screen_button_instructions {
    position: absolute;
    top: 30vw;
    left: 30.2vw;
    width: 3.5vw;
    height: 3.5vw;
    background-image: url(assets/button-instructions.svg);
    background-size: 100%;
}

footer {
    height: 80px;
    width: 100vw;
    background-color: #f7d574;
    position: absolute;
    bottom: 0;
}

footer ul{
    display: flex;
    align-content: center;
    width: 75vw;
    margin: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
}

footer a {
   text-decoration: none;
   color: black;
   font-family: quicksand, sans-serif;
   font-style: normal;
   font-weight: 500;
    padding-right: 20px;
    padding-left: 20px
}

.hidden {
    visibility: hidden;
}


@media only screen and (max-width: 700px) {
    main {
        grid-template-areas: "game"
            "info";
    }

    main {display:flex; flex-direction:column;}

    aside {
        margin-left: 25px;
    }
}


.falling {
    animation: falling;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.horizontal {
    animation: horizontal1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.rolling {
    animation: rolling;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



@keyframes rolling {

100% {
        transform: rotate(360deg);
    }
}


@keyframes falling {

    to {
        transform: translateY(50vw);
    }
}


@keyframes horizontal1 {

    to {
        transform: translateX(-30vw);
    }
}
